<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pipe.mapper.BoardMapper">

	<select id="boardList" parameterType="map" resultType="java.util.LinkedHashMap">
    	SELECT
    		id,
    		title,
    		content,
    		writer,
    		DATE_FORMAT(regdt,'%Y-%m-%d') AS regdt
		FROM board
    </select>

    <select id="boardSelect" parameterType="map" resultType="map">
    	SELECT
    		id,
    		title,
    		content,
    		writer,
    		regdt
		FROM board
		WHERE id = #{id}
    </select>

	<insert id="boardInsert" parameterType="map">
    	INSERT INTO board(
    		title,
    		writer,
    		content
    	)
    	VALUES(
    		#{title},
    		#{writer},
    		#{content}
    	)
    </insert>

    <update id="boardUpdate" parameterType="map">
    	UPDATE board
    	SET
			title = #{title},
			writer = #{writer},
			content = #{content},
			upddt = NOW()
    	WHERE id = #{id}
    </update>

    <delete id="boardDelete" parameterType="map">
    	DELETE FROM board WHERE id = #{id}
    </delete>

</mapper>